/**
!/modules/
/modules/*
!/modules/mod_bpform/
!/modules/mod_bpform/**

!/LICENSE
!/README.md
!/build.xml
!/composer.json
!/composer.lock
!/.gitignore
!/package.json
!/package-lock.json

!PHP File Header.php
!build.properties