/**
!/modules/
/modules/*
!/modules/mod_bpform/
!/modules/mod_bpform/**

!/LICENSE
!/.github
!/README.md
!/build.xml
!/composer.json
!/composer.lock
!/.gitignore
!/package.json
!/package-lock.json
!/webpack.config.js

!PHP File Header.php
!build.properties.dist